
HappyNews/.vs/HappyNews/config/applicationhost.config
HappyNews/.vs/HappyNews/DesignTimeBuild/.dtbcache
HappyNews/.vs/HappyNews/v16/.suo
HappyNews/.vs/HappyNews/v16/Server/sqlite3/db.lock
HappyNews/.vs/HappyNews/v16/Server/sqlite3/storage.ide
HappyNews/.vs/HappyNews/v16/Server/sqlite3/storage.ide-shm
HappyNews/.vs/HappyNews/v16/Server/sqlite3/storage.ide-wal
HappyNews/bin/Debug/netcoreapp2.2/HappyNews.deps.json
HappyNews/bin/Debug/netcoreapp2.2/HappyNews.dll
HappyNews/bin/Debug/netcoreapp2.2/HappyNews.pdb
HappyNews/bin/Debug/netcoreapp2.2/HappyNews.runtimeconfig.dev.json
HappyNews/bin/Debug/netcoreapp2.2/HappyNews.runtimeconfig.json
HappyNews/bin/Debug/netcoreapp2.2/HappyNews.Views.dll
HappyNews/bin/Debug/netcoreapp2.2/HappyNews.Views.pdb
*.cache
