@model System.Collections.Generic.List<Model1.User>

@{
    Layout = "_Layout";
}

<h2>User List</h2>

<div>
    <a asp-action="Create">Add User</a>
</div>

<table class="table">
    <tr>
        <th>Email</th>
        <th>FullName</th>
        <th>Actions</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
          
            <td>@user.FullName</td>
            <td>
                <div class="btn-group" role="group" aria-label="...">
                    <a asp-action="Edit" asp-route-id="@user.Id" type="button" class="btn btn-default">Edit</a>
                    <a type="button" class="btn btn-default" asp-action="ChangePassword" asp-route-id="@user.Id">Replace Password</a>
                   
                </div>

            </td>
        </tr>
    }
</table>
