@model string
@{

}
    <div>
        <header><h1>Choose a Newses site</h1></header>

        <p>
            <form asp-action="AddNewsInBase" asp-route-Rss="http://s13.ru/rss/.rss" method="post">  
                <button type="submit" class="btn btn-sm btn-danger">
                    Add News S13.ru
                </button>

            </form>
        </p>

        <p>
            
            <form asp-action="AddNewsInBase" asp-route-Rss="https://news.tut.by/rss/society.rss" method="post">
                <button type="submit" class="btn btn-sm btn-danger">
                    Add News Tut.by
                </button>
            </form>

            </p>
    </div>
